@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
footer {
  padding-bottom: 30px !important;
  background: #121f3d;
  color: white;
}

footer hr {
  margin-bottom: 30px;
}
footer .content {
  display: flex;
  gap: 15px;
}
footer .content div {
  flex: 1;
}
footer .content div:nth-child(3) {
  flex: 2;
}
footer .content div h4 {
  font-weight: 700;
  margin-bottom: 20px;
}
footer .content div ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
footer .content div ul a {
  color: white;
  text-decoration: none;
}
.logo-img {
  border-radius: 10px 10px 10px 10px;
}
footer .logo-img {
  width: 100%;
}

footer .content div ul a:hover {
  color: #8570ed;
  transition: 0.3s;
}
footer .content div ul li span {
  color: white;
}
footer .content div ul li span:first-child {
  width: 150px;
  display: inline-block;
}
.Hours {
  display: flex;
  font-size: 20px;
  font-weight: 600;
}

footer .content div:last-child div {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}
footer .content div:last-child div svg {
  font-size: 24px;
}
@media (max-width: 1135px) {
  footer .content {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .content div,
  footer .content div:nth-child(3) {
    flex: none;
    width: 340px;
    margin-bottom: 30px;
  }
}
@media (max-width: 900px) {
  footer {
    padding-bottom: 0 !important;
  }
  footer .content div,
  footer .content div:nth-child(3) {
    width: 100%;
  }
}
@media (max-width: 390px) {
  footer .content div:nth-child(3) ul li {
    display: flex;
    flex-direction: column;
  }
}
