.login-form {
  margin: 100px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10%;
  background: linear-gradient(90deg, #121f3d, #4d0000);
}

.register-form {
  margin: 100px;
  border: 2px solid black;
  border-radius: 2%;
  background: linear-gradient(90deg, #121f3d, #4d0000);
  margin: 150px auto 20px auto;
}

.login-form h2 {
  color: white;
}

.login-form {
  margin: 150px auto 20px auto;
  max-width: 800px;
  text-align: center;
  height: 50%;
}
.register-form {
  max-width: 1200px;
  margin: 150px auto 20px auto;
}

@media (max-width: 1110px) {
  .appointment-form form div:nth-child(4) {
    flex-direction: column;
  }
  .appointment-form form div:nth-child(5) {
    flex-direction: column;
  }
}
